---
# tasks file for ansible-role-ec2-create
- name: Ubuntu | Update packages
  apt:
    update_cache: yes

- name: Ubuntu | Install dependencies
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg2
    - software-properties-common
    - python-pip

- name: Ubuntu | Install python modules 
  pip:
    name: "{{item}}"
    state: present
  with_items:
    - urllib3
    - pyOpenSSL
    - ndg-httpsclient
    - pyasn1

- name: Ubuntu | Add docker key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: true
  id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88

- name: Ubuntu | Add Repo
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
  become: true

- name: Ubuntu | Install Docker
  apt:
    name: docker-ce
    state: present
    update_cache: yes
  become: true

- name: Ubuntu | Install docker-python modules 
  pip:
    name: docker-py
    version: 1.10.6

- name:  APP | Set ext4
  command: mkfs -t ext4 /dev/xvdf

- name: Docker | Share volumes
  file:
    path: /mnt/app
    state: directory
    mode: 0777
    recurse: yes

- name: APP | Mount device
  mount:
    path: /mnt/app
    src: /dev/xvdf
    fstype: ext4
    state: mounted

- name: Docker | Start Jenkins Container
  docker_container:
    name: jenkins
    image: jenkins/jenkins
    pull: true
    state: started
    ports:
    - "8080:8080"
    - "50000:50000"
    volumes:
    - /mnt/app:/var/jenkins_home





